@import url("style/header.css");
@import url("style/banner.css");
@import url("style/carrosel.css");

:root{
    --cor-do-fundo:#85764f;
    --branco:#FFFFFF;
    --cor-antiga:#faebd7;
    --cor-amarelo-titulo:#e3dd28;
    --cor-azul-gradient: linear-gradient(#74caf2,#15516e,#316c8a);
    --fonte-principal:'Golos Text', sans-serif;
}

body{
    background-color: var(--cor-do-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

